<div id="Page-Account">
    <div id="accountHeader">
        <div class="accountHeaderElement" id="nameAndInfo">
            <h1>
                {{user.username}}'s account is ready for battle..
            </h1>
        </div>
        <div class="accountHeaderElement" id="leaderboard">
            Scoreboard
            <div id="scores">
                <div class="winLoseBox" id="winBox">
                    {{user.wins}} <br>
                    WINS
                </div>
                <div class="winLoseBox" id="lossBox">
                    {{user.losses}} <br>
                    LOSSES
                </div>
            </div>
        </div>
    </div>
    <div id="declareWarButton">
        <h1>!!!DECLARE WAR!!!</h1>
        <div id="declareWarAgainstWho">
            <form action="/create_game" method="POST">
                <select id="opponentSelector" name="opponent">
                    <option value="">Select Opponent...</option>
                    {{#each users}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Wage War" />
            </form>

        </div>
    </div>
    <div id="gameDataBlock">
        <div class="gameData">
            <h3>Ongoing Engagements</h3>
            <div id="gameDataContainer">
                <div class="games" id="activeGames">
                    {{#each activeGames}}
                    <div class="game">
                        <div>
                            GameId = {{this.id}}<br>
                            Admirals = {{this.inviter}} and {{this.invitee}}<br>
                        </div>
                        <div class="toBattleButtonDiv">

                            <a class="toBattleButton" href="/game/{{this.id}}">To Battle</a>
                            
                        </div>

                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
        <div class="gameData">
            <h3>Declarations of War</h3>
            <div id="gameDataContainer">
                <div class="games" id="pendingInvites">
                    {{#each pendingGames}}
                    <div class="game">
                        <div>
                            {{this.challengeText}}<br>
                            GameId = {{this.id}}<br>
                            Admirals = {{this.inviter}} and {{this.invitee}}<br>
                        </div>
                        <div class="toBattleButtonDiv">
                            <a class="toBattleButton" href="/setup/{{this.id}}">To Battle</a>
                            <a class="toBattleButton" href="/game_deny/{{this.id}}">Do Not Acquiesce</a>
                        </div>

                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
        <div class="gameData">
            <h3>Settled Conflicts</h3>
            <div id="gameDataContainer">
                <div class="games" id="finishedGames">
                    {{#each completedGames}}
                    <div class="game">
                        <div>
                            GameId = {{this.id}}<br>
                            Admirals = {{this.inviter}} and {{this.invitee}}<br>
                            {{this.winner}} conquered that ocean...
                        </div>
                        <div class="toBattleButtonDiv">

                            <a class="toBattleButton" href="/game/{{this.id}}">To Battle</a>
                        </div>

                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    const warButton = document.getElementById("declareWarButton");

    warButton.addEventListener('mouseover', (ev) => {
        warButton.style.backgroundImage = 'url(/img/explosion_gif2.gif)';
    })

    warButton.addEventListener('mouseout', (ev) => {
        warButton.style.backgroundImage = '';
    })







</script>